.input-task{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}
#user-input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.add-task{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: #ccc;
}